<section class="about-me" id="portfolio">
    <div class="about-me-content">
      <div class="about-me-header">
        <div class="about-logo"><img src="../../assets/wave.gif" alt="Person Avatar" /></div>
        <h1 class="heading-txt">About </h1>
        <span class="heading-sub-txt"> Me</span>
      </div>
      
      <div class="about-me-content-inner">
        <div>
          <p>I am a Senior Software Developer with 10+ years of experience in the IT industry. 
          I have worked with various MNCs like Accenture, GE Healthcare, and currently working with Wells Fargo Bank. </p>
  
         <p>I have worked on various technologies like Angular, React JS, Node JS, Express JS, SQL, MongoDB, Python, Figma, etc. </p> 
        <p>  I have completed 30+ projects in my career. </p>
        <ul> 
            <li>I have a good understanding of UI/UX design principles and have worked on various projects where I have designed the UI/UX of the application. </li>
            <li> I have a good understanding of the software development life cycle and have worked on various projects where I have followed the Agile methodology.</li>
            <li>I have a good understanding of the banking domain and have worked on various projects related to the banking domain. </li>
            <li> I have a good understanding of the healthcare domain and have worked on various projects related to the healthcare domain. </li>
          <li>I have a good understanding of the e-commerce domain and have worked on various projects related to the e-commerce domain.</li>
         </ul>
          </div>
      </div>
     
    </div>
  </section>