<div class="content">
<header class="navbar">
    <div class="logo"><img src="../../assets/favicon.ico" alt="Person Avatar" /></div>
    <nav class="nav-links">
      <a routerLink="/home">Home</a>
      <a routerLink="/services">Services</a>
      <a routerLink="/about">About Me</a>
      <a routerLink="/portfolio">Portfolio</a>
      <a routerLink="/contact">Contact Me</a>
    </nav>
    <button class="hire-me-btn">Hire Me</button>
  </header>
<!-- 
  <div class="default-ltr-cache-dulgtd"><div class="curve-container"><div class="default-ltr-cache-1f97ztc"></div></div><div class="default-ltr-cache-jtcpfi"></div></div> -->

  <section class="hero">
    <div class="hero-content">
      <p style="font-size: 24px;">Hi, I am</p>
      <p style="font-size: 48px">Prem Kumar Nayak</p>
      <h2 style="color: #be040d;">UI/UX Developer</h2>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/prem-kumar-nayak-605ab973/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fas fa-globe"></i></a>
        <a href="#"><i class="fab fa-behance"></i></a>
      </div>
      <div class="buttons">
        <button class="hire-me">Hire Me</button>
        <button class="download-cv">Download CV</button>
      </div>
    </div>
    <div class="hero-image">
        <!-- <span class="self-block"></span> -->
      <img src="../../assets/self1.png" alt="Person Avatar" />
      <!-- <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <image href="../../assets/self1.png" height="200" width="200" />
      </svg> -->
    </div>
  </section>
</div>
  <section class="about-me-card">
      <div class="card-container">
        <!-- Card 1 -->
        <div class="card card1">
          <img src="../../assets/experience.gif" alt="Card Image">
          <div class="card-content">
            <p class="card-title">Work Experience<p>
            <p class="card-description" style="font-size: 32px;">
              10+ Years
            </p>
            <a href="https://www.linkedin.com/in/prem-kumar-nayak-605ab973/" target="_blank" class="card-btn">View More</a>
          </div>
          
          <div class="project-content">
            <p>
                Working as a senior Software Developer at Wells Fargo, Bangalore.
            </p>
            <a href="https://www.linkedin.com/in/prem-kumar-nayak-605ab973/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </div>

          
        </div>
      
        <!-- Card 2 -->
        <div class="card card2">
          <img src="../../assets/project.gif" alt="Card Image">
          <div class="card-content">
            <p class="card-title">Projects Completed<p>
            <p class="card-description" style="font-size: 32px;">
              30+
            </p>
            <a href="#" class="card-btn">Learn More</a>
          </div>
        </div>

         <!-- Card 2 -->
         <div class="card card3">
            <img src="../../assets/designation.gif" alt="Card Image">
            <div class="card-content">
              <p class="card-title">Designation<p>
              <p class="card-description" style="font-size: 20px;">
                Senior Software Developer
              </p>
              <a href="#" class="card-btn">Learn More</a>
            </div>
          </div>

           <!-- Card 2 -->
        <div class="card card4">
            <img src="../../assets/certificate.gif" alt="Card Image">
            <div class="card-content">
              <p class="card-title">Certifications<p>
              <p class="card-description">
                MicroSoft: Programming in HTML5 with Javascript and CSS3
              </p>
              <a href="https://www.credly.com/badges/cff73701-5caa-4d92-a5c8-a0293527c641" target="_blank" class="card-btn">Show More</a>
            </div>
          </div>
      </div>   
  </section>

  <section class="skill-set-card">
    <section id="skills" class="skills">
        <h2 class="heading">Technical <span>Skills</span></h2>
        <div class="skills-container">
          <div class="skill-card" data-sr-id="3" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: 0.5s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1724221811/c573ff5552d6da9a1d28ec4e27cd1445-removebg-preview_w2hkck.png" alt="skills1">
            <p>HTML</p>
          </div>
          <div class="skill-card" data-sr-id="4" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: 0.5s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1724222003/ac262626eb1e924c85b8b68fe97c2213-removebg-preview_kihgsi.png" alt="skills2">
            <p>CSS</p>
          </div>
          <div class="skill-card" data-sr-id="5" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: 0.5s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472150/Bootstrap-removebg-preview_opsbke.png" alt="skills3">
            <p>Bootstrap</p>
          </div>
          <div class="skill-card" data-sr-id="6" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: 0.5s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1712139571/10_Best_Cheat_Sheets_That_A_Programmer_Must_Have-removebg-preview_daf4wt.png" alt="skills4">
            <p>JavaScript</p>
          </div>
          <div class="skill-card" data-sr-id="7" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: 0.5s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1712150985/Windows_Vista__70-620__Part_1__Install_and_Getting_Started-removebg-preview_dlar2d.png" alt="skills5">
            <p>React JS</p>
          </div>
          <div class="skill-card" data-sr-id="8" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: 0.5s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1724222161/0c8121171fefa57a22351d1a10e96c2b-removebg-preview_eglfs1.png" alt="skills6">
            <p>Node JS</p>
          </div>
          <div class="skill-card" data-sr-id="9" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: 0.5s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1724079122/png-transparent-express-js-node-js-javascript-mongodb-node-js-text-trademark-logo-removebg-preview_yihadf.png" alt="skills7">
            <p>Express JS</p>
          </div>
          <div class="skill-card" data-sr-id="10" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: 0.5s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472150/SQL_Basics___Hands-On_Beginner_SQL_Tutorial_Analyzing_Bike-Sharing-removebg-preview_a0aug6.png" alt="skills8">
            <p>SQL</p>
          </div>
          <div class="skill-card" data-sr-id="11" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: 0.5s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472151/MongoDB_affine_l_%C3%A9quilibrage_de_charge_avec_sa_version_2_4_-_Le_Monde_Informatique-removebg-preview_1_ppnpok.png" alt="skills9">
            <p>MongoDB</p>
          </div>
          <div class="skill-card" data-sr-id="12" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: 0.5s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472151/download__2_-removebg-preview_sjc7gv.png" alt="skills10">
            <p>Python</p>
          </div>
          <div class="skill-card" data-sr-id="13" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: 0.5s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472151/Figma_s_new_icon___Figma_Blog-removebg-preview_fclwte.png" alt="skills11">
            <p>Figma</p>
          </div>
        </div>
      </section>
  </section>
  