<div class="sticky-header" [ngClass]="isSticky ? 'fadeIn' : 'fadeout' "> 
  <header class="navbar">
      <div class="logo"><img src="../../assets/favicon.ico" alt="Person Avatar" /></div>
      <nav class="nav-links">
        <a href="#home">Home</a>
        <a href="#skills">Skills</a>
        <a href="#carrier">Carrier</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact Me</a>
      </nav>
      <button class="hire-me-btn">Hire Me</button>
    </header>
  
  </div> 

  <div class="main">

<div class="content">
  <button class="lets-connect" (click)="letsConnect()">Let's Connect</button>
<!-- 
  <div class="default-ltr-cache-dulgtd"><div class="curve-container"><div class="default-ltr-cache-1f97ztc"></div></div><div class="default-ltr-cache-jtcpfi"></div></div> -->

  <section class="hero" id="home" #home>
    <div class="hero-content">
      <p style="font-size: 24px;">Hi, I am</p>
      <p style="font-size: 48px">Prem Kumar Nayak</p>
      <h2 style="color: #be040d;">UI/UX Developer</h2>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/prem-kumar-nayak-605ab973/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fas fa-globe"></i></a>
        <a href="#"><i class="fab fa-behance"></i></a>
      </div>
      <div class="buttons">
        <button class="hire-me">Hire Me</button>
        <button class="download-cv">Download CV</button>
      </div>
    </div>
    <div class="hero-image">
        <!-- <span class="self-block"></span> -->
      <img src="../../assets/self1.png" alt="Person Avatar" />
      <!-- <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <image href="../../assets/self1.png" height="200" width="200" />
      </svg> -->
    </div>
  </section>
</div>
  <section class="about-me-card">
      <div class="card-container">
        <!-- Card 1 -->
        <div class="card card1">
          <img src="../../assets/experience.gif" alt="Card Image">
          <div class="card-content">
            <p class="card-title">Work Experience<p>
            <p class="card-description" style="font-size: 32px;">
              10+ Years
            </p>
            <a href="https://www.linkedin.com/in/prem-kumar-nayak-605ab973/" target="_blank" class="card-btn">View More</a>
          </div>
          
          <div class="project-content">
            <p>
                Working as a senior Software Developer at Wells Fargo, Bangalore.
            </p>
            <a href="https://www.linkedin.com/in/prem-kumar-nayak-605ab973/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </div>

          
        </div>
      
        <!-- Card 2 -->
        <div class="card card2">
          <img src="../../assets/project.gif" alt="Card Image">
          <div class="card-content">
            <p class="card-title">Projects Completed<p>
            <p class="card-description" style="font-size: 32px;">
              30+
            </p>
            <a href="#" class="card-btn">Learn More</a>
          </div>
        </div>

         <!-- Card 2 -->
         <div class="card card3">
            <img src="../../assets/designation.gif" alt="Card Image">
            <div class="card-content">
              <p class="card-title">Designation<p>
              <p class="card-description" style="font-size: 20px;">
                Senior Software Developer
              </p>
              <a href="#" class="card-btn">Learn More</a>
            </div>
          </div>

           <!-- Card 2 -->
        <div class="card card4">
            <img src="../../assets/certificate.gif" alt="Card Image">
            <div class="card-content">
              <p class="card-title">Certifications<p>
              <p class="card-description">
                MicroSoft: Programming in HTML5 with Javascript and CSS3
              </p>
              <a href="https://www.credly.com/badges/cff73701-5caa-4d92-a5c8-a0293527c641" target="_blank" class="card-btn">Show More</a>
            </div>
          </div>
      </div>   
  </section>

  <section class="skill-set-card" id="skills">
    <div class="about-me-content" style="background-color: #f8faf4;margin-bottom: 15px;">
      <div class="about-me-header">
        <h1 class="heading-txt">TECHNICAL </h1>
        <span class="heading-sub-txt"> SKILLS</span>
      </div>

    </div>
    <section id="skills" class="skills">
      
        <!-- <h2 class="heading">Technical <span>Skills</span></h2> -->
        <div class="skills-container">
          <div class="skill-card" data-sr-id="3">
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1724221811/c573ff5552d6da9a1d28ec4e27cd1445-removebg-preview_w2hkck.png" alt="skills1">
            <p>HTML</p>
          </div>
          <div class="skill-card" data-sr-id="4" >
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1724222003/ac262626eb1e924c85b8b68fe97c2213-removebg-preview_kihgsi.png" alt="skills2">
            <p>CSS</p>
          </div>
          <div class="skill-card" data-sr-id="5" >
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472150/Bootstrap-removebg-preview_opsbke.png" alt="skills3">
            <p>Bootstrap</p>
          </div>
          <div class="skill-card" data-sr-id="6" >
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1712139571/10_Best_Cheat_Sheets_That_A_Programmer_Must_Have-removebg-preview_daf4wt.png" alt="skills4">
            <p>JavaScript</p>
          </div>
          <div class="skill-card" data-sr-id="7" >
            <img src="../../assets/favicon.ico" alt="skills51">
            <p>Angular</p>
          </div>
          <div class="skill-card" data-sr-id="7" >
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1712150985/Windows_Vista__70-620__Part_1__Install_and_Getting_Started-removebg-preview_dlar2d.png" alt="skills5">
            <p>React JS</p>
          </div>
          <div class="skill-card" data-sr-id="8" >
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1724222161/0c8121171fefa57a22351d1a10e96c2b-removebg-preview_eglfs1.png" alt="skills6">
            <p>Node JS</p>
          </div>
          <div class="skill-card" data-sr-id="9" >
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1724079122/png-transparent-express-js-node-js-javascript-mongodb-node-js-text-trademark-logo-removebg-preview_yihadf.png" alt="skills7">
            <p>Express JS</p>
          </div>
          <div class="skill-card" data-sr-id="10" >
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472150/SQL_Basics___Hands-On_Beginner_SQL_Tutorial_Analyzing_Bike-Sharing-removebg-preview_a0aug6.png" alt="skills8">
            <p>SQL</p>
          </div>
          <div class="skill-card" data-sr-id="11" >
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472151/MongoDB_affine_l_%C3%A9quilibrage_de_charge_avec_sa_version_2_4_-_Le_Monde_Informatique-removebg-preview_1_ppnpok.png" alt="skills9">
            <p>MongoDB</p>
          </div>
          <div class="skill-card" data-sr-id="12" >
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472151/download__2_-removebg-preview_sjc7gv.png" alt="skills10">
            <p>Python</p>
          </div>
          <div class="skill-card" data-sr-id="13" >
            <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472151/Figma_s_new_icon___Figma_Blog-removebg-preview_fclwte.png" alt="skills11">
            <p>Figma</p>
          </div>
        </div>
      </section>
  </section>

  <section class="about-me" id="portfolio">
    <div class="about-me-content">
      <div class="about-me-header">
        <div class="about-logo"><img src="../../assets/wave.gif" alt="Person Avatar" /></div>
        <h1 class="heading-txt">About </h1>
        <span class="heading-sub-txt"> Me</span>
      </div>
      
      <div class="about-me-content-inner">
        <div>
          <p>I am a Senior Software Developer with 10+ years of experience in the IT industry. 
          I have worked with various MNCs like Accenture, GE Healthcare, and currently working with Wells Fargo Bank. </p>
  
         <p>I have worked on various technologies like Angular, React JS, Node JS, Express JS, SQL, MongoDB, Python, Figma, etc. </p> 
        <p>  I have completed 30+ projects in my career. </p>
        <ul> 
            <li>I have a good understanding of UI/UX design principles and have worked on various projects where I have designed the UI/UX of the application. </li>
            <li> I have a good understanding of the software development life cycle and have worked on various projects where I have followed the Agile methodology.</li>
            <li>I have a good understanding of the banking domain and have worked on various projects related to the banking domain. </li>
            <li> I have a good understanding of the healthcare domain and have worked on various projects related to the healthcare domain. </li>
          <li>I have a good understanßding of the e-commerce domain and have worked on various projects related to the e-commerce domain.</li>
         </ul>
          </div>
      </div>
     
    </div>
  </section>

  <section class="carrier-journey" id="carrier"> 
    <!-- <h2 class="heading">My <span>TimeLine</span></h2> -->

    <div class="card-container">

     
      <!-- Card 1 -->
      <div class="card">
          <!-- completed -->
          <div class="logo"><img src="../../assets/educationgif.gif" alt="Person Avatar" /></div>
          <h2 class="heading-card"> <span class="sub-heading-card">Acadmics</span></h2>
        <div class="container" style="background: linear-gradient(270deg,#49104a 22.3%,#3b1c81 64.31%,#170e40);border-radius: 10px;max-height: 450px;">
        
            <div class="step completed" >
              <div class="left-content" style="font-weight: bold;font-size:16px;">2010-2014</div>
              <div class="v-stepper">
                <div class="circle"></div>
                <div class="line"></div>
              </div>
        
              <div class="right-content">
               <span style="font-weight: bold;font-size:18px;"> Graduation (B.Tech)</span>
               <span style="margin-top: 10px;display: block;"> Electronics & Communication Engineering </span>
               <span>LPU Professional University, Punjab</span> 
              </div>
          </div>


          <div class="step completed">
            <div class="left-content"> 
              <span style="font-weight: bold;font-size:18px;">Higher Secondry School</span>
              <span style="margin-top: 10px;display: block;"> Science (PCM)  </span>
              
              <span>DAV Public School, Bokaro, Jharkhand</span></div>
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>
      
            <div class="right-content" style="font-weight: bold;font-size:16px;">
              2008-2010
            </div>
        </div>
        

        <div class="step completed">
          <div class="left-content" style="font-weight: bold;font-size:16px;">2007-2008</div>
          <div class="v-stepper">
            <div class="circle"></div>
            <div class="line"></div>
          </div>
    
          <div class="right-content">
            <span style="font-weight: bold;font-size:18px;">10th Standard</span>
            <span style="margin-top: 10px;display: block;">KSCS, Bokaro, Jharkhand</span>
          </div>
      </div>
       
          
        </div>
        
      </div>


       <!-- Card 1 -->
       <div class="card">
        <div class="logo"><img src="../../assets/workExp.gif" alt="work exp" /></div>
        <!-- <h2 class="heading"> <span>Carrier Path</span></h2> -->
        <h2 class="heading-card"> <span class="sub-heading-card">Carrier</span></h2>
        <div class="container" style="background: linear-gradient(270deg,#49104a 22.3%,#3b1c81 64.31%,#170e40);border-radius: 10px;max-height: 450px;">
          <!-- completed -->
            <div class="step completed" >
              <div class="left-content" style="font-weight: bold;font-size:16px;">February 2023 - Present
             <div class="logo"><img src="../../assets/wf.png" alt="wells Fargo" /></div>
              </div>
              
              <div class="v-stepper">
                <div class="circle"></div>
                <div class="line"></div>
              </div>
        
              <div class="right-content">
               <span style="font-weight: bold;font-size:18px;"> Wells Fargo Bank</span>
               <span style="margin-top: 10px;display: block;"> Senior Software Engineer</span>
               <span>Bangalore, Karnataka, India</span> 
              </div>
          </div>


          <div class="step completed">
            <div class="left-content"> 
              <span style="font-weight: bold;font-size:18px;">GE Healthcare</span>
              <span style="margin-top: 10px;display: block;"> Software Engineer </span>
              
              <span>Bangalore, Karnataka, India</span></div>
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>
      
            <div class="right-content" style="font-weight: bold;font-size:16px;">
              August-2018 - February 2023
              <div class="logo"><img src="../../assets/ge.png" alt="ge exp" /></div>
            </div>
        </div>
        

        <div class="step completed">
          <div class="left-content" style="font-weight: bold;font-size:16px;">November 2014 - August 2018
            <div class="logo"><img src="../../assets/accen.png" style="height: 55px;width: 75px;" alt="accenture exp" /></div></div>
          <div class="v-stepper">
            <div class="circle"></div>
            <div class="line"></div>
          </div>
    
          <div class="right-content">
            <span style="font-weight: bold;font-size:18px;">Accenture Pvt Ltd</span>
            <span style="margin-top: 10px;display: block;">Software Engineer</span>
            <span>Bangalore, Karnataka, India</span>
          </div>
      </div>
         
          
        </div>
        
      </div>



      </div>
  </section>
  <!--Waves Container-->
<!-- <div class="wave-container">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  </div> -->
  <!--Waves end-->
  
  @if(topMate){
  <div class="modal-container">
    <div class="backdrop"></div>
    <div class="close" (click)="closeMe()"> <i class="fa fa-close"  style="font-size:32px;color:white"></i></div>
    <iframe
    #myIframe
      src="https://topmate.io/embed/profile/prem_nayak?theme=262840"
      frameborder="0"
      class="topmate-iframe"
      id="myFrame"
    ></iframe>
  </div>
}







<section class="service" id="services">
  <div class="about-me-header">
    <h1 class="heading-txt">Services </h1>
    <span class="heading-sub-txt"> Our</span>
  </div>
  <div class="service-logo"><img src="../../assets/service.gif" alt="service Avatar" /></div>
  <div class="service-content">
   


    <div class="service-card">
      <img src="../../assets/webdev.gif" alt="Card Image">
      <div class="container" style="background: #dbe9e4;">
        <h2 class="header"><b>Web Development</b></h2> 
        <div class="card-content">
          I create dynamic, responsive, and user-friendly websites using HTML, CSS, JavaScript, 
          and frameworks like Angular and React. 

        <p class="show-on-hover"> I aim to create smooth, engaging and Responsive user experiences by building 
          Creative interfaces and optimizing performance. 
           Whether it’s an e-commerce site, a blog, or a custom web application, </p>
         
       <!-- <p class="show-on-hover">  I turn your ideas into reality with creativity, precision, and a commitment to understanding your needs.</p> -->
        </div>
      </div>
    </div>


    <div class="service-card">
      <img src="../../assets/webDesign.gif" alt="Card Image">
      <div class="container" style="background: #dbe9e4;">
        <h2 class="header"><b>Web Design</b></h2> 
        <div class="card-content">
          I create visually engaging and intuitive web designs that captivate users and enhance their online experiences. 
          By blending creativity with modern design principles,

        <p class="show-on-hover"> I craft layouts that are both aesthetically pleasing and functional.
          Whether it’s a sleek portfolio, an interactive landing page, or a complete website revamp, 
         
          I ensure every design reflects your brand and vision perfectly.</p>
         
       <!-- <p class="show-on-hover">  I turn your ideas into reality with creativity, precision, and a commitment to understanding your needs.</p> -->
        </div>
      </div>
    </div>

    <div class="service-card">
      <img src="../../assets/wpdev.gif" alt="Card Image">
      <div class="container" style="background: #dbe9e4;">
        <h2 class="header"><b>WordPress Development</b></h2> 
        <div class="card-content">
          I specialize in WordPress development, creating versatile and dynamic websites tailored to your needs.
           From custom themes and plugins to seamless integrations, I ensure your site is both visually appealing and highly functional. 
         

        <p class="show-on-hover">  Whether it’s a personal blog, a business website, or an e-commerce platform,
          I deliver solutions that are easy to manage and aligned with your goals. 
           Whether it’s an e-commerce site, a blog, or a custom web application, </p>
         
       <!-- <p class="show-on-hover">  I turn your ideas into reality with creativity, precision, and a commitment to understanding your needs.</p> -->
        </div>
      </div>
    </div>

    <div class="service-card">
      <img src="../../assets/seodev.gif" alt="Card Image">
      <div class="container" style="background: #dbe9e4;">
        <h2 class="header"><b>SEO Optimization</b></h2> 
        <div class="card-content">
          I offer SEO optimization services to help your website rank higher and attract more traffic. 
          By utilizing proven strategies such as keyword research, on-page optimization, and performance enhancements, 
          

        <p class="show-on-hover"> I ensure your site is search-engine friendly and delivers a great user experience. 
          Let’s make your website more visible and drive meaningful results for your business. </p>
         
       <!-- <p class="show-on-hover">  I turn your ideas into reality with creativity, precision, and a commitment to understanding your needs.</p> -->
        </div>
      </div>
    </div>

   
  </div>
</section>

<section class="planning">
  <div class="curve-svg">
    <svg class="mx-auto max-2md:w-[535px] max-2md:h-[590px] max-2md:mx-auto max-xsm:w-[520px] max-xsm:hidden max-sm:w-[425px]" width="696" height="772" viewBox="0 0 696 772" fill="none" xmlns="http://www.w3.org/2000/svg" style="
color: #51aa26;
">
        <path d="M 55.2364 2.0999 C 226.499 2.3999 397.262 1.3999 569.023 2.3999 C 576.014 3.3999 584.003 5.3999 590.993 7.3999 C 616.957 17.3999 637.928 36.3999 648.913 62.3999 C 654.904 78.3999 657.9 94.3999 655.903 111.4 C 653.906 124.4 649.911 137.4 643.919 149.4 C 638.926 158.4 631.936 165.4 624.946 173.4 C 608.968 188.4 587.997 196.4 566.028 199.4 C 404.252 200.4 241.478 197.4 79.7025 200.4 C 54.7371 204.4 32.7676 218.4 17.7884 240.4 C 3.8078 260.4 0.812 282.4 2.8092 305.4 C 7.8023 346.4 41.7551 379.4 81.6997 385.4 C 173.572 388.4 265.445 385.4 357.018 386.1 C 447.6787 386.0667 538.3393 386.0333 584 387 C 731 387 725 580 587 580 L 161 583 C 20 583 20 777 164 778" stroke="#C6C5CA" stroke-width="3" stroke-miterlimit="2.3692"></path>
        <circle id="dot" cx="10" cy="1" r="10" fill="#51AA26"></circle>
        <path class="curveLine" d="M 55.2364 2.0999 C 226.499 2.3999 397.262 1.3999 569.023 2.3999 C 576.014 3.3999 584.003 5.3999 590.993 7.3999 C 616.957 17.3999 637.928 36.3999 648.913 62.3999 C 654.904 78.3999 657.9 94.3999 655.903 111.4 C 653.906 124.4 649.911 137.4 643.919 149.4 C 638.926 158.4 631.936 165.4 624.946 173.4 C 608.968 188.4 587.997 196.4 566.028 199.4 C 404.252 200.4 241.478 197.4 79.7025 200.4 C 54.7371 204.4 32.7676 218.4 17.7884 240.4 C 3.8078 260.4 0.812 282.4 2.8092 305.4 C 7.8023 346.4 41.7551 379.4 81.6997 385.4 C 173.572 388.4 265.445 385.4 357.018 386.1 C 447.6787 386.0667 538.3393 386.0333 584 387 C 731 387 725 580 587 580 L 161 583 C 20 583 20 777 164 778" stroke="#51AA26" stroke-width="4" stroke-miterlimit="2.3692" style="stroke-dashoffset: 0; stroke-dasharray: 33.5799px, 3096.84px;"></path>
    </svg>
  </div>
</section>

<section class="contact">
  <div>
    <div class="service-logo"><img src="../../assets/backThumb.png" alt="service Avatar" /></div>
  </div>
  <div class="contact-form-container">
    <mat-card class="contact-card">
      <h2>Contact Us</h2>
      <div class="connect-logo"><img src="../../assets/contact.gif" alt="connect Avatar" /></div>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="input-container">
          <input
            id="name"
            type="text"
            formControlName="name"
            class="animated-input"
            placeholder="NAME"
          />
          <span class="focus-border"></span>
        </div>
        <div *ngIf="contactForm.get('name').invalid && contactForm.get('name').touched" class="error">
          Name is required.
        </div>
      
        <div class="input-container">
          <input
            id="email"
            type="email"
            formControlName="email"
            class="animated-input"
            placeholder="E-MAIL"
          />
          <span class="focus-border"></span>
        </div>
        <div class="input-container">
          <input
            id="phone"
            type="tel"
            formControlName="phone"
            class="animated-input"
            placeholder="CONTACT NUMBER"
            pattern="[0-9]{10}"
          />
          <span class="focus-border"></span>
        </div>
        <div *ngIf="contactForm.get('email').invalid && contactForm.get('email').touched" class="error">
          Valid email is required.
        </div>
      
        <div class="input-container">
          <textarea
            id="message"
            formControlName="message"
            class="animated-input"
            placeholder="Enter your message"
          ></textarea>
          <span class="focus-border"></span>
        </div>
        <div *ngIf="contactForm.get('message').invalid && contactForm.get('message').touched" class="error">
          Message is required.
        </div>
      
        <button type="submit" [disabled]="!contactForm.valid" class="animated-button">Send Message</button>
      </form>
      
    </mat-card>
  </div>
  
</section>



<!-- <section class="test">
  <svg class="mx-auto max-2md:w-[535px] max-2md:h-[590px] max-2md:mx-auto max-xsm:w-[520px] max-xsm:hidden max-sm:w-[425px]" width="696" height="772" viewBox="0 0 696 772" fill="none" xmlns="http://www.w3.org/2000/svg" style="
  color: #51aa26;
">
          <path d="M 55.2364 2.0999 C 226.499 2.3999 397.262 1.3999 569.023 2.3999 C 576.014 3.3999 584.003 5.3999 590.993 7.3999 C 616.957 17.3999 637.928 36.3999 648.913 62.3999 C 654.904 78.3999 657.9 94.3999 655.903 111.4 C 653.906 124.4 649.911 137.4 643.919 149.4 C 638.926 158.4 631.936 165.4 624.946 173.4 C 608.968 188.4 587.997 196.4 566.028 199.4 C 404.252 200.4 241.478 197.4 79.7025 200.4 C 54.7371 204.4 32.7676 218.4 17.7884 240.4 C 3.8078 260.4 0.812 282.4 2.8092 305.4 C 7.8023 346.4 41.7551 379.4 81.6997 385.4 C 173.572 388.4 265.445 385.4 357.018 386.1 C 447.6787 386.0667 538.3393 386.0333 584 387 C 731 387 725 580 587 580 L 161 583 C 20 583 20 777 164 778" stroke="#C6C5CA" stroke-width="3" stroke-miterlimit="2.3692"></path>
          <circle id="dot" cx="10" cy="1" r="10" fill="#51AA26"></circle>
          <path class="theLine" d="M 55.2364 2.0999 C 226.499 2.3999 397.262 1.3999 569.023 2.3999 C 576.014 3.3999 584.003 5.3999 590.993 7.3999 C 616.957 17.3999 637.928 36.3999 648.913 62.3999 C 654.904 78.3999 657.9 94.3999 655.903 111.4 C 653.906 124.4 649.911 137.4 643.919 149.4 C 638.926 158.4 631.936 165.4 624.946 173.4 C 608.968 188.4 587.997 196.4 566.028 199.4 C 404.252 200.4 241.478 197.4 79.7025 200.4 C 54.7371 204.4 32.7676 218.4 17.7884 240.4 C 3.8078 260.4 0.812 282.4 2.8092 305.4 C 7.8023 346.4 41.7551 379.4 81.6997 385.4 C 173.572 388.4 265.445 385.4 357.018 386.1 C 447.6787 386.0667 538.3393 386.0333 584 387 C 731 387 725 580 587 580 L 161 583 C 20 583 20 777 164 778" stroke="#51AA26" stroke-width="4" stroke-miterlimit="2.3692" style="stroke-dashoffset: 0; stroke-dasharray: 33.5799px, 3096.84px;"></path>
      </svg>
</section> -->
</div>

