<div class="content">
<header class="navbar">
    <div class="logo"><img src="../../assets/favicon.ico" alt="Person Avatar" /></div>
    <nav class="nav-links">
      <a routerLink="/home">Home</a>
      <a routerLink="/services">Services</a>
      <a routerLink="/about">About Me</a>
      <a routerLink="/portfolio">Portfolio</a>
      <a routerLink="/contact">Contact Me</a>
    </nav>
    <button class="hire-me-btn">Hire Me</button>
  </header>
<!-- 
  <div class="default-ltr-cache-dulgtd"><div class="curve-container"><div class="default-ltr-cache-1f97ztc"></div></div><div class="default-ltr-cache-jtcpfi"></div></div> -->

  <section class="hero">
    <div class="hero-content">
      <p style="font-size: 24px;">Hi, I am</p>
      <p style="font-size: 48px">Prem Kumar Nayak</p>
      <h2 style="color: #be040d;">UI/UX Developer</h2>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fas fa-globe"></i></a>
        <a href="#"><i class="fab fa-behance"></i></a>
      </div>
      <div class="buttons">
        <button class="hire-me">Hire Me</button>
        <button class="download-cv">Download CV</button>
      </div>
    </div>
    <div class="hero-image">
        <!-- <span class="self-block"></span> -->
      <img src="../../assets/self1.png" alt="Person Avatar" />
      <!-- <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <image href="../../assets/self1.png" height="200" width="200" />
      </svg> -->
    </div>
  </section>
</div>
  <section class="info-cards">
    <div class="card">
      <h3>5+</h3>
      <p>Years of Experience</p>
    </div>
    <div class="card">
      <h3>20+</h3>
      <p>Projects Completed</p>
    </div>
    <div class="card">
      <h3>80+</h3>
      <p>Happy Clients</p>
    </div>
  </section>
  