<section class="carrier-journey" id="carrier"> 
    <!-- <h2 class="heading">My <span>TimeLine</span></h2> -->

    <div class="card-container">

     
      <!-- Card 1 -->
      <div class="card" style="transform: perspective(900px) translateY(0%) rotateY(21deg) translateZ(0);">
          <!-- completed -->
          <div class="logo"><img src="../../assets/educationgif.gif" alt="Person Avatar" /></div>
          <h2 class="heading-card"> <span class="sub-heading-card">Acadmics</span></h2>
        <div class="container" style="background: linear-gradient(270deg,#49104a 22.3%,#3b1c81 64.31%,#170e40);border-radius: 10px;max-height: 450px;">
        
            <div class="step completed acad" >
              <div class="left-content" style="font-weight: bold;font-size:16px;">2010-2014</div>
              <div class="v-stepper">
                <div class="circle"></div>
                <div class="line"></div>
              </div>
        
              <div class="right-content">
               <span style="font-weight: bold;font-size:18px;"> Graduation (B.Tech)</span>
               <span style="margin-top: 10px;display: block;"> Electronics & Communication Engineering </span>
               <span>LPU Professional University, Punjab</span> 
              </div>
          </div>


          <div class="step completed acad">
            <div class="left-content"> 
              <span style="font-weight: bold;font-size:18px;">Higher Secondry School</span>
              <span style="margin-top: 10px;display: block;"> Science (PCM)  </span>
              
              <span>DAV Public School, Bokaro, Jharkhand</span></div>
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>
      
            <div class="right-content" style="font-weight: bold;font-size:16px;">
              2008-2010
            </div>
        </div>
        

        <div class="step completed acad">
          <div class="left-content" style="font-weight: bold;font-size:16px;">2007-2008</div>
          <div class="v-stepper">
            <div class="circle"></div>
            <div class="line"></div>
          </div>
    
          <div class="right-content">
            <span style="font-weight: bold;font-size:18px;">10th Standard</span>
            <span style="margin-top: 10px;display: block;">KSCS, Bokaro, Jharkhand</span>
          </div>
      </div>
       
          
        </div>
        
      </div>


       <!-- Card 1 -->
       <div class="card" style="transform: perspective(900px) translateY(0%) rotateY(-21deg) translateZ(0);">
        <div class="logo"><img src="../../assets/workExp.gif" alt="work exp" /></div>
        <!-- <h2 class="heading"> <span>Carrier Path</span></h2> -->
        <h2 class="heading-card"> <span class="sub-heading-card">Carrier</span></h2>
        <div class="container" style="background: linear-gradient(270deg,#49104a 22.3%,#3b1c81 64.31%,#170e40);border-radius: 10px;max-height: 450px;">
          <!-- completed -->
            <div class="step completed car" >
              <div class="left-content" style="font-weight: bold;font-size:16px;">February 2023 - Present
             <div class="logo"><img src="../../assets/wf.png" alt="wells Fargo" /></div>
              </div>
              
              <div class="v-stepper">
                <div class="circle"></div>
                <div class="line"></div>
              </div>
        
              <div class="right-content">
               <span style="font-weight: bold;font-size:18px;"> Wells Fargo Bank</span>
               <span style="margin-top: 10px;display: block;"> Senior Software Engineer</span>
               <span>Bangalore, Karnataka, India</span> 
              </div>
          </div>


          <div class="step completed car">
            <div class="left-content"> 
              <span style="font-weight: bold;font-size:18px;">GE Healthcare</span>
              <span style="margin-top: 10px;display: block;"> Software Engineer </span>
              
              <span>Bangalore, Karnataka, India</span></div>
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>
      
            <div class="right-content" style="font-weight: bold;font-size:16px;">
              August-2018 - February 2023
              <div class="logo"><img src="../../assets/ge.png" alt="ge exp" /></div>
            </div>
        </div>
        

        <div class="step completed car">
          <div class="left-content" style="font-weight: bold;font-size:16px;">November 2014 - August 2018
            <div class="logo"><img src="../../assets/accen.png" style="height: 55px;width: 75px;" alt="accenture exp" /></div></div>
          <div class="v-stepper">
            <div class="circle"></div>
            <div class="line"></div>
          </div>
    
          <div class="right-content">
            <span style="font-weight: bold;font-size:18px;">Accenture Pvt Ltd</span>
            <span style="margin-top: 10px;display: block;">Software Engineer</span>
            <span>Bangalore, Karnataka, India</span>
          </div>
      </div>
         
          
        </div>
        
      </div>



      </div>
  </section>