<section id="skills" class="skills">
    <div class="about-me-content" style="background-color: #f8faf4;margin-bottom: 15px;">
        <div class="about-me-header" style="position: relative;">
          <h1 class="heading-txt">TECHNICAL </h1>
          <span class="heading-sub-txt"> SKILLS</span>
        </div>
  
      </div>
      
    <!-- <h2 class="heading">Technical <span>Skills</span></h2> -->
    <div class="skills-container">
      <div class="skill-card" data-sr-id="3">
        <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1724221811/c573ff5552d6da9a1d28ec4e27cd1445-removebg-preview_w2hkck.png" alt="skills1">
        <p>HTML</p>
      </div>
      <div class="skill-card" data-sr-id="4" >
        <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1724222003/ac262626eb1e924c85b8b68fe97c2213-removebg-preview_kihgsi.png" alt="skills2">
        <p>CSS</p>
      </div>
      <div class="skill-card" data-sr-id="5" >
        <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472150/Bootstrap-removebg-preview_opsbke.png" alt="skills3">
        <p>Bootstrap</p>
      </div>
      <div class="skill-card" data-sr-id="6" >
        <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1712139571/10_Best_Cheat_Sheets_That_A_Programmer_Must_Have-removebg-preview_daf4wt.png" alt="skills4">
        <p>JavaScript</p>
      </div>
      <div class="skill-card" data-sr-id="7" >
        <img src="../../assets/favicon.ico" alt="skills51">
        <p>Angular</p>
      </div>
      <div class="skill-card" data-sr-id="7" >
        <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1712150985/Windows_Vista__70-620__Part_1__Install_and_Getting_Started-removebg-preview_dlar2d.png" alt="skills5">
        <p>React JS</p>
      </div>
      <div class="skill-card" data-sr-id="8" >
        <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1724222161/0c8121171fefa57a22351d1a10e96c2b-removebg-preview_eglfs1.png" alt="skills6">
        <p>Node JS</p>
      </div>
      <div class="skill-card" data-sr-id="9" >
        <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1724079122/png-transparent-express-js-node-js-javascript-mongodb-node-js-text-trademark-logo-removebg-preview_yihadf.png" alt="skills7">
        <p>Express JS</p>
      </div>
      <div class="skill-card" data-sr-id="10" >
        <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472150/SQL_Basics___Hands-On_Beginner_SQL_Tutorial_Analyzing_Bike-Sharing-removebg-preview_a0aug6.png" alt="skills8">
        <p>SQL</p>
      </div>
      <div class="skill-card" data-sr-id="11" >
        <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472151/MongoDB_affine_l_%C3%A9quilibrage_de_charge_avec_sa_version_2_4_-_Le_Monde_Informatique-removebg-preview_1_ppnpok.png" alt="skills9">
        <p>MongoDB</p>
      </div>
      <div class="skill-card" data-sr-id="12" >
        <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472151/download__2_-removebg-preview_sjc7gv.png" alt="skills10">
        <p>Python</p>
      </div>
      <div class="skill-card" data-sr-id="13" >
        <img src="https://res.cloudinary.com/dffu1ungl/image/upload/v1709472151/Figma_s_new_icon___Figma_Blog-removebg-preview_fclwte.png" alt="skills11">
        <p>Figma</p>
      </div>
    </div>
  </section>