/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
     max-width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

    @media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  
  body{
    width:100%;
    overflow-x:hidden;
    overflow-y: visible;
  }

}

:root {
  color-scheme: light;
  --background-color: light-dark(white,black);
  --foreground-color: light-dark(black,white);

}
