<div class="main-card">
    <div class="card">
        <div class="card-inner">
            <img src="../../assets/thallback.png" alt="Card Image">
        </div> 
            <img src="../../assets/thala.png" class="effect-img" alt="Card Image">
            <h1 class="card-title">MS DHONI</h1>
    </div>

    <div class="card">
        <div class="card-inner">
            <img src="../../assets/rutu.png" alt="Card Image">
        </div> 
            <img src="../../assets/rutu.png" class="effect-img" alt="Card Image">
            <h1 class="card-title">RutuRaj</h1>
    </div>

    <div class="card">
        <div class="card-inner">
            <img src="../../assets/convay.png" alt="Card Image">
        </div> 
            <img src="../../assets/convay.png" class="effect-img" alt="Card Image">
            <h1 class="card-title">D Convey</h1>
    </div>

    <div class="card">
        <div class="card-inner">
            <img src="../../assets/jaddu.png" alt="Card Image">
        </div> 
            <img src="../../assets/jaddu.png" class="effect-img" alt="Card Image">
            <h1 class="card-title">R Jadeja</h1>
    </div>
</div>

<div style="position: relative;">
<div class="round-card">
    <div class="card-move" style="--quantity: 6">
        <div class="card-item"  style="--position:1">  <img src="../../assets/webdevback.png" alt="Card Image"></div>
        <div class="card-item" style="--position:2">  <img src="../../assets/designback.png" alt="Card Image"></div>
        <div class="card-item" style="--position:3">  <img src="../../assets/wpback.png" alt="Card Image"></div>
        <div class="card-item" style="--position:4">  <img src="../../assets/seoback.png" alt="Card Image"></div>
        <div class="card-item" style="--position:5">  <img src="../../assets/webdevback.png" alt="Card Image"></div>
        <div class="card-item" style="--position:6">  <img src="../../assets/thallback.png" alt="Card Image"></div>
            
    </div>
</div>

<div class="trophy">
    <img src="../../assets/trophy.png" class="round-effect" alt="trophy Image">
</div>
</div>

<div class="wrapper-main" style="position: relative;">
    <div class="container-main">
        <div class="card-main">  <img src="../../assets/webdevback.png" alt="Card Image"></div>
        <div class="card-main">  <img src="../../assets/webdevback.png" alt="Card Image"></div>
        <div class="card-main">  <img src="../../assets/webdevback.png" alt="Card Image"></div>
        <div class="card-main">  <img src="../../assets/webdevback.png" alt="Card Image"></div>
         <div class="card-main">  <img src="../../assets/webdevback.png" alt="Card Image"></div>
    </div>
</div>

<div>
    <img src="../../assets/bmw.png" alt="IPL Image" style="width: 100%;height: 100%;">
</div>

