<div class="main-card">
    <div class="card">
        <div class="card-inner">
            <img src="../../assets/thallback.png" alt="Card Image">
        </div> 
            <img src="../../assets/thala.png" class="effect-img" alt="Card Image">
            <h1 class="card-title">MS DHONI</h1>
    </div>

    <div class="card">
        <div class="card-inner">
            <img src="../../assets/rutu.png" alt="Card Image">
        </div> 
            <img src="../../assets/rutu.png" class="effect-img" alt="Card Image">
            <h1 class="card-title">RutuRaj</h1>
    </div>

    <div class="card">
        <div class="card-inner">
            <img src="../../assets/convay.png" alt="Card Image">
        </div> 
            <img src="../../assets/convay.png" class="effect-img" alt="Card Image">
            <h1 class="card-title">D Convey</h1>
    </div>

    <div class="card">
        <div class="card-inner">
            <img src="../../assets/jaddu.png" alt="Card Image">
        </div> 
            <img src="../../assets/jaddu.png" class="effect-img" alt="Card Image">
            <h1 class="card-title">R Jadeja</h1>
    </div>
</div>