<section class="service" id="services">
    <div class="about-me-header">
      <h1 class="heading-txt">Services </h1>
      <span class="heading-sub-txt"> Our</span>
    </div>
    <div class="service-logo"><img src="../../assets/service.gif" alt="service Avatar" /></div>
    <div class="service-content">
     
  <div class="service-card" style="width: 350px">
    <div class="asset-header">
      <img src="../../assets/webdevback.png" alt="Card Image" style="width: 350px;height: 400px;">
      <p class="asset-header-content show-on-hover">Web Development</p>
      <p class=" asset-header-content asset-header-content-count">1</p>
    </div>
  <div class="hover-content">
    <div class="show-on-hover">
      <img src="../../assets/webdev.gif" alt="Card Image">
      <p> I aim to create smooth, engaging and Responsive user experiences by building 
          Creative interfaces and optimizing performance. <br><br>
         Whether it’s an e-commerce site, a blog, or a custom web application, </p>
    </div>
   
      </div>
  </div>
  
  
  
  <div class="service-card">
    <div class="asset-header">
      <img src="../../assets/designback.png" alt="Card Image" style="width: 350px;height: 400px;">
      <p class="asset-header-content show-on-hover">Web Design</p>
      <p class=" asset-header-content asset-header-content-count">2</p>
    </div>
  <div class="hover-content">
    <div class="show-on-hover">
      <img src="../../assets/webDesign.gif" alt="Card Image">
      <p>  I create visually engaging and intuitive web designs that captivate users and enhance their online experiences. 
          Creative interfaces and optimizing performance. <br><br>
          I craft layouts 
          Whether it’s a sleek portfolio, an interactive landing page, or a complete website revamp,  </p>
    </div>
   
      </div>
  </div>
  
  
  <div class="service-card">
    <div class="asset-header">
      <img src="../../assets/wpback.png" alt="Card Image" style="width: 350px;height: 400px;">
      <p class="asset-header-content show-on-hover">WordPress Development</p>
      <p class=" asset-header-content asset-header-content-count">3</p>
    </div>
  <div class="hover-content">
    <div class="show-on-hover">
      <img src="../../assets/wpdev.gif" alt="Card Image">
      <p>  I specialize in WordPress development, creating versatile and dynamic websites tailored to your needs.
        From custom themes and plugins to seamless integrations, <br><br>
        Whether it’s a personal blog, a business website, or an e-commerce platform,
        I deliver solutions that are easy to manage and aligned with your goals.   </p>
    </div>
   
      </div>
  </div>
  
  <div class="service-card">
    <div class="asset-header">
      <img src="../../assets/seoback.png" alt="Card Image" style="width: 350px;height: 400px;">
      <p class="asset-header-content show-on-hover">SEO Optimization</p>
      <p class=" asset-header-content asset-header-content-count">4</p>
    </div>
  <div class="hover-content">
    <div class="show-on-hover">
      <img src="../../assets/seodev.gif" alt="Card Image">
      <p> I offer SEO optimization services to help your website rank higher and attract more traffic. 
        By utilizing proven strategies such as keyword research, on-page optimization, and performance enhancements,  <br><br>
        I ensure your site is search-engine friendly and delivers a great user experience.   </p>
    </div>
   
      </div>
  </div>

  
     
    </div>
  </section>