img {
    height: 100px;
    width: 100px;
    margin: 0;
  }



  .service {
    position: relative;
  }


  .service-logo {
    position: absolute;
    top: -35px;
    /* left: 45%; */
    mix-blend-mode: multiply;
    margin-left: 46%;
  }

.service-content {
  display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      padding: 20px;
      margin-top: 15px;
      z-index: 999;
      position: relative;
      transition: all 1s ease;
  }
  
  .service-card {
    font-size: 1.125rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin-right: 40px;
    max-height: 450px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
    width: 100px;
    border-radius: 10px;
    filter: drop-shadow(0 0 1.75rem #fca3b7);
  
    .hover-content {
      position: absolute;
      top: 0;
      background: rgba(0, 0, 0, .8);
      color: white;
      height: 89%; 
      border-radius: 5px;
  
      p{
        text-align: center;
      margin: 13%;
      }
    }
  
    .asset-header {
      .asset-header-content {
        background: #6a57e3;
        margin: 0;
        /* padding: 14px; */
        font-size: 24px;
        color: white;
        position: relative;
        top: -2px;
        height: 35px;
      }
    }
  
    .header {
      text-align: center;
      margin: 0;
    }
  
    .show-on-hover{
      display: none;
      img {
        border-radius: 50%;
      top: 25px;
      position: relative;
      width: 80px;
      height: 80px;
      }
    }
  
    .card-content {
      padding: 10px;
    }
  
    img {
      border-radius: 5px 5px 0 0;
      height: 100px;
      width: 100px;
    }
  }
  
  .service-card:hover {
    width: 400px;
    transform: scale(1.1);
    transition: ease-in-out 0.6s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    overflow:visible;
    transform: rotateY(360deg);
    transition: all 1s ease;
    transform: perspective(900px) translateY(-3%) rotateX(-15deg) translateZ(0);
      -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);

    
  
    .asset-header img{
      transform: scale(.8);
      transition: all 10s ease;
    }
  
    .show-on-hover{
      display: block;
    }
  }



  //common for popup text


.heading-txt {
    text-align: center;
      margin-bottom: 2.75rem;
      font-size: 10vw;
      font-weight: 800;
      color: rgba(0, 0, 0, 0.0784313725);
      letter-spacing: 4px;
      text-transform: uppercase;
      margin: 25px;
      padding-top: 25px;
      transform: scale(1);
      animation: 2s scale-down linear forwards;
      animation-timeline:view(auto 250px);
      animation-range: entry;
  }
  
  
  .heading-sub-txt{
    position: absolute;
      left: 0px;
      right: -11px;
      top: 75%;
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
      color: #000000;
      transform: translateY(-50%);
      text-align: center;
  }
  

  .about-me-header {
    position: relative;
  }


  .asset-header-content-count {
    width: 50%;
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8) !important;
    font-size: 28px;
    /* display: flex
; */
    /* position: absolute; */
    /* top: 0; */
    left: 50%;
  }

  @keyframes scale-down {
    25% {scale: 2.5;}
    55% {scale: 2;}
    55% {scale: 1.5;}
    100% { scale :1}
   }

   @media (max-width: 700px) {
    // .service-content {
    //   flex-wrap: wrap;

    //   .service-card {
    //     width: 275px !important;
    //   }
    
    // }
   }
   
  .service-content:has(.service-card:hover) .service-card:not(:hover) {
      opacity: 0.5 !important;
      width: 100px !important;
    
  }