<section class="planning">
  <div class="plan-main">
      <div class="plan-content" style="top:0%">
        <img src="../../assets/plan-discover.jpg" alt="Card Image">
            <div class="card-content">
              <p class="card-title">Discover & Plan<p>
              <p class="card-description" style="font-size: 14px;color: #170e40;">
                Initial consultation to discuss your goals and target audience.
                Competitor research and market analysis.
             </p> </div>
      </div>
  
      <div class="plan-content" style="top:18%">
        <img src="../../assets/plan-design.jpg" alt="Card Image">
            <div class="card-content">
              <p class="card-title">Design<p>
              <p class="card-description" style="font-size: 14px;color: #170e40;">
                Create visually stunning and user-friendly designs tailored to your brand.
                Develop wireframes to outline the structure and layout.
               </p> </div>
      </div>
  
      <div class="plan-content" style="top:35%">
        <img src="../../assets/plan-develop.jpg" alt="Card Image">
            <div class="card-content">
              <p class="card-title">Develop<p>
              <p class="card-description" style="font-size: 14px;color: #170e40;">
                Front-end and back-end development
                Integration of CMS or custom functionalities (e.g., eCommerce, APIs).
              </p> </div>
      </div>
  
      <div class="plan-content" style="top:55%">
        <img src="../../assets/plan-test.jpg" alt="Card Image">
            <div class="card-content">
              <p class="card-title">Test & Refine<p>
              <p class="card-description" style="font-size: 14px;color: #170e40;">
                Deliver a seamless and error-free experience.
                Test for speed, security, responsiveness, and functionality.
                Fix bugs and refine based on feedback.
              </p> </div>
      </div>
  
      <div class="plan-content last-plan-content" style="top:77%;margin-left:35px;">
        <img src="../../assets/plan-launch.jpg" alt="Card Image">
            <div class="card-content">
              <p class="card-title">Launch & Support<p>
              <p class="card-description" style="font-size: 14px;color: #170e40;">
                Make your website live and ensure it runs smoothly post-launch.
                Deploy the website to a live server.
                Offer ongoing support, updates, and maintenance as needed.
              </p> </div>
      </div>
  
      
  
    </div>
    <div class="curve-svg">
      <svg class="mx-auto max-2md:w-[535px] max-2md:h-[590px] max-2md:mx-auto max-xsm:w-[520px] max-xsm:hidden max-sm:w-[425px]" width="696" height="772" viewBox="0 0 696 772" fill="none" xmlns="http://www.w3.org/2000/svg" style="
  color: #51aa26;
  ">
          <path d="M 55.2364 2.0999 C 226.499 2.3999 397.262 1.3999 569.023 2.3999 C 576.014 3.3999 584.003 5.3999 590.993 7.3999 C 616.957 17.3999 637.928 36.3999 648.913 62.3999 C 654.904 78.3999 657.9 94.3999 655.903 111.4 C 653.906 124.4 649.911 137.4 643.919 149.4 C 638.926 158.4 631.936 165.4 624.946 173.4 C 608.968 188.4 587.997 196.4 566.028 199.4 C 404.252 200.4 241.478 197.4 79.7025 200.4 C 54.7371 204.4 32.7676 218.4 17.7884 240.4 C 3.8078 260.4 0.812 282.4 2.8092 305.4 C 7.8023 346.4 41.7551 379.4 81.6997 385.4 C 173.572 388.4 265.445 385.4 357.018 386.1 C 447.6787 386.0667 538.3393 386.0333 584 387 C 731 387 725 580 587 580 L 161 583 C 20 583 20 777 164 778" stroke="#C6C5CA" stroke-width="3" stroke-miterlimit="2.3692"></path>
          <circle id="dot" cx="10" cy="1" r="10" fill="#51AA26"></circle>
          <path class="curveLine" d="M 55.2364 2.0999 C 226.499 2.3999 397.262 1.3999 569.023 2.3999 C 576.014 3.3999 584.003 5.3999 590.993 7.3999 C 616.957 17.3999 637.928 36.3999 648.913 62.3999 C 654.904 78.3999 657.9 94.3999 655.903 111.4 C 653.906 124.4 649.911 137.4 643.919 149.4 C 638.926 158.4 631.936 165.4 624.946 173.4 C 608.968 188.4 587.997 196.4 566.028 199.4 C 404.252 200.4 241.478 197.4 79.7025 200.4 C 54.7371 204.4 32.7676 218.4 17.7884 240.4 C 3.8078 260.4 0.812 282.4 2.8092 305.4 C 7.8023 346.4 41.7551 379.4 81.6997 385.4 C 173.572 388.4 265.445 385.4 357.018 386.1 C 447.6787 386.0667 538.3393 386.0333 584 387 C 731 387 725 580 587 580 L 161 583 C 20 583 20 777 164 778" stroke="#51AA26" stroke-width="4" stroke-miterlimit="2.3692" style="stroke-dashoffset: 0; stroke-dasharray: 33.5799px, 3096.84px;"></path>
      </svg>
    </div>
  </section>